{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{title}}{% endblock title %}
{% block css %}
 <style>
 .singup{
     width:450px;
     border:1px solid #ccc;
     padding:25px;
   
}
.login
{
    width:450px;
    padding:40px;
    border:1px solid #ccc;

}
 </style>
{% endblock css %}

{% block body %}
<center>
<div class="login">
<form method="POST">
{{form|crispy}}
{% csrf_token %}
<button type="submit"style="width:100%" class="btn btn-primary">Login</button>
</form>
</div>
<div class="singup">
<p> Do not have an account ?<a href="{% url 'sing_up' %}">singup </a></p>
</div>

</center>
{% endblock body %}